body {
    font-family: 'Poppins', sans-serif;
    background-color: #E73C7E;
}

.container {
    margin-top: 20px;
}

h1, h3, a {
    color: #FFF;
}

a {
    background-color: #d12e68;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: #C8245E;
}

table {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #DDD;
}

th {
    background-color: rgba(0, 0, 0, 0.2);
}
